.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.modal-container {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 30px;
}

.add-register {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-register h1 {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  margin-top: 54px;
}

.data-input {
  display: flex;
  flex-direction: column;
  margin: 42px 0px;
}

.modal-btn {
  margin-bottom: 10px;
}

.double-inputs {
  display: flex;
  gap: 10px;
}
