.card {
  width: 480px;
}

.card h1 {
  margin-top: 10px;
  margin-bottom: 36px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.register {
  margin-top: 96px;
  text-align: center;
}

.register a {
  text-decoration: none;
}

.login-btn {
  margin-top: 72px;
}
