.modal-container-delete {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 360px;
  padding: 62px;
  width: 476px;
}

.confirm-delete {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.confirm-delete h1,
p {
  margin-bottom: 25px;
}
